@font-face {
    font-family: "custom_font";
    src: url("absolutly-our-fonts/font2.woff2") format("woff2");
}
@font-face {
    font-family: "custom_font";
    src: url("absolutly-our-fonts/font1.woff2") format("woff2");
}
@font-face {
  font-family: "local_consola";
  src: url("absolutly-our-fonts/CONSOLA.TTF");
}
*{
    box-sizing: border-box;
    font-family: custom_font, sans-serif;
}

body{
    margin: 0%;
    display: flex;
    flex-direction: column;
    color: white;
    --color: rgba(114, 114, 114, 0.3);
    background-color: #191a1a;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
}
main{
    
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    
}
footer,
header{
  margin: 1rem;
  height: auto;
  background: rgb(26, 26, 26);

  font-size: 12px;
  line-height: 1.4;

  border-radius: 1em;
  padding: 0.5em;
  z-index: 30;
  display: flex;
  align-items: center;

  border: 1px solid rgb(60 60 60);
}

header{
  position: sticky;
  top: 0;
  justify-content: space-between;
}

header a{
  height: 50px;
  margin: .5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}
header img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header a h1{
  margin: 0 2rem;
  color: white;
}
#forms-and-links-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5em;
  border-radius: 1em;
  border: 1px solid transparent;
  transition: var(--transition);
  transition-duration: .4s;
}
header:hover #forms-and-links-div {
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.6),
  inset 0.5px 1px 2px rgba(255, 255, 255, 0.1);
  background: hsla(0, 0%, 50%, 0.1);
}

#forms-and-links-div img,
#forms-and-links-div svg{
  height: 100%;
  padding: 4px;
}
.a-nonsense:hover {
  transform: scale(1.2);
  transition-duration: .3s;
}

footer{
  flex-direction: column;
}

footer p{
  text-align: center;
}

footer a{
  color: blue;
}

::-webkit-scrollbar{
    display: none;
}

.card {
  margin: 1rem;
  --transition: all .2s cubic-bezier(0.13, 0.78, 0.3, 0.99);
  width: 20rem;
  background: rgb(26, 26, 26);

  font-size: 12px;
  line-height: 1.4;

  border-radius: 1em;
  padding-bottom: 0.5em;
  z-index: 20;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  transition: all 0.2s ease-in;
  border: 1px solid rgb(60 60 60);
}
.bottom{
  width: 100%;
  padding: 0;
  
  transition: all 0.2s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  width: 100%;
  position: absolute;
  transform: rotate3D(0.4, 1, 0.4, 0deg) scale(0.4);
  padding: 2rem 2rem 0 2rem;
  opacity: 0;
  height: 20em;
  overflow: hidden;
  z-index: 1;
  display: flex;
  visibility: hidden;
  flex-direction: column;
}

.content-content{
  flex-grow: 1;
  overflow: scroll;
}
.content-content p{
  margin: 0;
}
.card-nav{
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}
.content-heading h2{
  margin: 0;
}

.thumbnail {
  width: var(--card-width);
  height: 20em;
  overflow: hidden;
  transition: var(--transition);

  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover {
  background-color: hsl(0, 0%, 15%);
  box-shadow: 0px 20px 40px hsl(40, 60%, 0%, 0.4),
    inset 1px 2px 4px rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
}
.card:hover .bottom {
  padding: 0 2em 1em 2em;
}

.card:hover .thumbnail {
  opacity: 0.2;
  filter: blur(20px);
  transform: scale(1.5);
}
.card:hover .content {
  visibility:visible;
  transform: none;
  opacity: 1;
  transition: var(--transition);
  border: hidden;
}

.toggle-container {
  position: relative;
  aspect-ratio: 2 / 1;
  height: 1.7em;
}

.toggle-input {
  appearance: none;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.toggle {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.toggle-background {
  fill: #d3d3d6;
  transition: fill .4s;
}
.toggle-circle-center {
  transform-origin: center;
  transition: transform .6s;
}

.toggle-input:checked + .toggle .toggle-circle-center {
  transform: translateX(150px);
}

.toggle-circle {
  transform-origin: center;
  transition: transform .45s;
  backface-visibility: hidden;
}

.toggle-circle.left {
  transform: scale(1);
}

.toggle-input:checked + .toggle .toggle-circle.left {
  transform: scale(0);
}

.toggle-circle.right {
  transform: scale(0);
}

.toggle-input:checked + .toggle .toggle-circle.right {
  transform: scale(1);
}

.nav-arr-left{
  transform: rotate(-90deg);
  height: 100%;
}
.nav-arr-right{
  transform: rotate(90deg);
  height: 100%;
}
.nav-button-left,
.nav-button-right{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.nav-button-left svg,
.nav-button-right svg,
.toggle-container{
  filter: drop-shadow(2px 2px 3px grey);
}

.code-box {
  margin-top: 1em;
  border:1px solid black;
  background-color:#1A1A1A;
  width:300px;  
  padding:10px;
}
.code-box code {
  font-size:0.9em;
  font-family: local_consola, monospace;
  /* alternate: rgb(84 178 255), wheat */
  color: white;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.form-container-login{
  background-color: rgb(26, 26, 26);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.form-container {
  background-color: rgb(26, 26, 26);
  padding: 20px;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-container h2{
  margin: 1rem;
}

.close-btn {
  float: right;
  cursor: pointer;
}

.form-contact-div{
  display: flex;
  flex-wrap: wrap;
}

.input-group {
  position: relative;
  margin: 1em;
 }
 
 .form-input {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
 }
 
 .form-label {
  display: block;
  margin-bottom: 5px;
  margin-left: 1rem;
 }
 
 .form-input:focus, form-input:valid {
  outline: none;
  border: 1.5px solid #1a73e8;
 }

 .form-message textarea{
  width: 100%;
  resize: none;
 }

 .form-submit:active {
  scale: 0.95;
}
.form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: 2rem auto 1rem auto; 
  cursor: pointer;
  border-radius: 6px;
}

.form-submit:hover {
  background-color: #fff;
  border-color: #fff;
}
.required {
  color: red;
  margin-left: 3px;
}



@media only screen and (min-width: 630px) {
    .card{
        width: calc(50% - 2rem);
    }
}
@media only screen and (min-width: 1060px) {
    .card{
        width: calc(33% - 2rem);
    }
}
@media only screen and (min-width: 1490px) {
    .card{
        width: calc(25% - 2rem);
    }
}
@media only screen and (min-width: 1820px) {
    .card{
        width: calc(20% - 2rem);
    }
}
