.example-label-h{
    display: flex;
    flex-direction: row;
}
.example-label-v{
    display: flex;
    flex-direction: column;
}
.thumb-row-bordered{
    display: flex;
    float: right;
}
.thumb-row-bordered a{
    margin: .5rem;
    color: white;
    text-decoration: none;
    height: auto;
}

.thumb-t-b-r{
    background-color: transparent;
    border: 1px solid rgb(60,60,60);
    border-radius: 1em;
}

.thumb-screen-body{
    display: grid;
    columns: 1 4;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr 4fr;
    width: 90%;
    height: 90%;
}
.thumb-screen-header{
    height: 2.5rem;
}
.thumb-screen-header h2{
    margin: 0;
    grid-area: 1 / 2 / 2 / 3;
}
.thumb-screen-main{
    grid-area: 2 / 2 / 3 / 3;
    margin: 0 1rem;
}
.thumb-screen-footer{
    grid-area: 3 / 2 / 4 / 3;
    height: 2rem;
}
.thumb-screen-footer p{
    margin: 0;
}
.thumb-screen-aside{
    grid-area: 1 / 1 / 4 / 2;
    margin: 1rem 0 1rem 1rem;
}
.thumb-highlight{
    background-color: rgb(60, 60, 60);
    box-shadow: 0 0 20px rgb(70,70,70);
}

.thumb-box{
    width: 80%;
    height: 80%;
    padding: 1rem;
}
.thumb-small-box{
    width: 80%;
    height: 40%;
    margin: .5em;
    padding: 1rem;
}

.thumb-article{
    width: 80%;
    height: 80%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.thumb-article h2{
    margin: 0;
}
.thumb-article footer{
    width: 100%;
    margin: 0;
}
.thumb-article footer p{
    margin: 0;
}

.thumb-p-pre p,
.thumb-p-pre pre,
.thumb-p-pre h3{
    margin: 0;
}
