.example-label-h{
    display: flex;
    flex-direction: row;
}
.example-label-v{
    display: flex;
    flex-direction: column;
}
.thumb-row-bordered{
    display: flex;
    border: 1px solid grey;
    margin: 1em;
    border-radius: 1em;
}
.thumb-row-bordered a{
    margin: .5rem;
    color: white;
    text-decoration: none;
    height: auto;
}